doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title= title
  body
    header
      h1 My Website
      nav
        ul
          li
            a(href="/") Home
          li
            if currentUser
              a(href="/logout", style="color: red;") Log out
            else
              a(href="/login") Log in
          li
            a(href="/signup") Sign up
          li
            a(href="/join") Join club
    main
      block content
