include layout
  block content
    h1 Sign Up
    form(action="/signup", method="POST")
      label(for="first_name") First Name
      input(name="first_name", type="text", required)
      label(for="last_name") Last Name
      input(name="last_name", type="text", required)
      label(for="username") Username
      input(name="username", type="text", required)
      label(for="password") Password
      input(name="password", type="password", required)
      label(for="confirmPassword") Confirm Password
      input(name="confirmPassword", type="password", required)
      label(for="is_admin") Are you an admin?
      input(name="is_admin", type="checkbox")
      button(type="submit") Sign Up

    if errors
      ul
        for error in errors
          li!= error.msg
