<%- include('layout', {title: 'Sign Up', body: `
<h1>Sign Up</h1>
<form action="/signup" method="POST">
  <label for="first_name">First Name</label>
  <input name="first_name" type="text" required />
  <label for="last_name">Last Name</label>
  <input name="last_name" type="text" required />
  <label for="username">Username</label>
  <input name="username" type="text" required />
  <label for="password">Password</label>
  <input name="password" type="password" required />
  <label for="confirmPassword">Confirm Password</label>
  <input name="confirmPassword" type="password" required />
  <label for="is_admin">Are you an admin?</label>
  <input name="is_admin" type="checkbox" />
  <button type="submit">Sign Up</button>
</form>
`}) %>
